{% extends "base.html" %}
    {% block content %}
<div class="container">

    <div class="row">

      <div class="col-md-9 col-sm-6 ">
           <div class="h_new row"><h3>New question</h3></div>
           {% include "form.html" with push="Ask!" %}
       </div>





        <div class="col-md-3 col-sm-6 right-col">
            <div class="h_tags row"><h3>Popular tags</h3></div>

            <div class="headers">
            <b class="red-label header">MySQL</b><b class="blue-label header">Ruby</b><b class="green-label header">C++</b><b class="purple-label header">Tarantool</b>
                <b class="blue-label header">PHP</b><b class="green-label header">python</b><b class="purple-label header">perl</b><b class="orange-label header">Mail.ru</b>
                <b class="green-label header">django</b><b class="orange-label header">FireFox</b><b class="blue-label header">Apache</b>
                <b class="red-label header">nginx</b><b class="purple-label header">gunicorn</b>
            </div>
            <div class="h_tags row"><h3>Best members</h3></div>
            <div class="members">
            <a href="#">Dr.Pepper</a>
            <br>
            <a href="#">Dr.House</a>
                <br>
                <a href="#">V.Pupkin</a>
            <br>
            <a href="#">Bender</a>
                <br>
                <a href="#">Mr.Freeman</a>
            <br>
            <a href="#">Queen Victoria</a>
            </div>


        </div>

    </div>



</div>
    {%  endblock %}