<script>
    /*function test() {
        var xhr = new XMLHttpRequest();
        var body = 'id=' + encodeURIComponent(this.id);
        xhr.open("POST", '/like/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        // вывести результат
        var result = 0;
        xhr.onreadystatechange = function() {
            if (this.readyState === 4) {

            result = Number(this.responseText);
            document.getElementById('rating').innerHTML = result;
        }
        };
        //document.getElementById('rating').innerHTML = result;
        xhr.send(body);
    }*/

  /*  (function() {
  //console.log('hello');
  $('.js-vote').on('click', function() {
    var $this = $(this); // jquery nad objectom click
    var qid = $this.data('qid');
    var vote = $this.data('vote');
    console.log('qid: ' + qid + ' vote: ' + vote);
    $.post('/vote/', {
      qid: qid,
      vote: vote
    }).done(function(data) {
      console.log(data);
    });
    return false;
  })
})();*/
</script>
       <div class="question row one-q">

         <div class="col-md-2">

            <a href=#><img class="q-avatar" src="/static/img/question.jpg"></a>
        <!--<button class="my-btn" type="button" id="{{ q.id }}" onclick="/*test.call(this);*/"><img class="like-btn" src="/static/img/like.png"></button><span class="likes" id="rating">{{ get_rating }}</span>-->
<!--<a href=# class="js-vote" data-qid="{{ q.pk }}" data-vote="inc"><img class="like-btn" src="/static/img/like.png"></a>{{ q.rating }}
-->

         </div>

         <div class="col-md-10">

           <div class="q-title">  <a href="{% url "question_url" id %}">{{ title }}</a></div>
           <div class="q-text">{{ snippet }}
               <a class="learn-more" href="{% url "question_url" id %}">Читать далее...</a>
               <br>
               <div class="tags">

               <a href="#">answer({{ q.get_answers_count }})</a>
               Tags:
                   {% for tag in q.tags.all %}
                       <a href="{% url "tag_url" tag.name %}">{{ tag.name }}</a>
                   {% endfor %}

               </div>
           </div>




         </div>


</div>
