{% extends "base.html" %}
{% block menu %}
  <li class="nav-item">
    <a class="nav-link" href="{% url "index" %}">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url "forum" %}">Форум</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url "test" %}">Пройти тест</a>
  </li>
        <li class="nav-item">
    <a class="nav-link" href="{% url "articles" %}">Для любознательных</a>
  </li>
        <li class="nav-item">
    <a class="nav-link" href="{% url "gallery" %}">Фотографии</a>
  </li>
        <li class="nav-item">
    <a class="nav-link" href="{% url "about" %}">Об авторе</a>
  </li>
{%  endblock %}
{% block content %}
    <div class="container wrap">
<div class="question row">
{% include "question.html" with title=question.title snippet=question.snippet text=question.text rating=question.rating id=question.id get_rating=question.get_rating %}
{% block answers %}
    {% for a in answers %}
                {% include "one_answer.html" with author=a.author text=a.text author=a.author rating=a.rating %}
            {% endfor %}
{% if answers.has_other_pages %}

  {% include "paginator.html" with pagination=answers %}
{% endif %}
<br>
    {% if request.user.is_authenticated %}
        <div class="answer-form">
        {% include "form.html" with push="Ответить" %}
        </div>
{% endif %}
{% endblock %}
</div>
    </div>
    {% endblock %}
{% block questions-pagination %}
    {% endblock %}