{% extends "index.html" %}
{% block question %}
<div class="question row">

         <div class="col-md-2">

            <a href=#><img class="q-avatar" src="/static/img/question.jpg"></a>
             <button type="button" id="like" onclick="alert();"><img class="like-btn" src="/static/img/like.png"></button><a href="#" class="likes">{{ question.rating }}</a>



         </div>

         <div class="col-md-10">

           <div class="q-title">  <a href="{% url "question_url" question.id %}">{{ question.title }}</a></div>
           <div class="q-text">
               {{ question.text }}
               <br>
               <div class="tags">
               <a href="#">answer({{ question.get_answers_count }})</a>
               Tags: {% for tag in question.tags.all %}
                       <a href="{% url "tag_url" tag.name %}">{{ tag.name }}</a>
                   {% endfor %}
               </div>
           </div>




         </div>


</div>
{% endblock %}
{% block answers %}
    {% for a in answers %}
                {% include "one_answer.html" with author=a.author text=a.text author=a.author rating=a.rating %}
            {% endfor %}
{% if answers.has_other_pages %}

  {% include "paginator.html" with pagination=answers %}
{% endif %}
<br>
    {% if request.user.is_authenticated %}
<!--<form class="new-question">
  <div class="form-group row">
      <textarea class="form-control your-answ" rows="10" placeholder="Enter your answer here"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-answ">Answer</button>
</form>-->
        {% include "form.html" with push="Answer!" %}
{% endif %}
{% endblock %}
{% block questions-pagination %}
    {% endblock %}